<% provide :title, "プロフィール編集" %>
<% provide :button, "更新" %>

<%= form_with scope: :user, model: @user, local: true do |f| %>
<%= render 'shared/error_messages' %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <% if current_user.guest? %>
      <div class="guest_sign_in">
        <p class="btn mt-5">ゲストユーザーはプロフィールの編集ができません<br>ごめんなさい！</p>
      </div>
    <% end %>
    <div class="page-body">
      <div class="lock-head">
        プロフィールを編集
      </div> 
      <div class="lock-body">

        <%= f.label :name, 'ユーザーネーム', class: 'label' %>
        <% if current_user.guest? %>
          <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control',required: 'required', disabled: true %>
        <% else %>
          <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control',required: 'required' %>
        <% end %>

        <%= f.label :email, 'メールアドレス', class: 'label' %>
        <% if current_user.guest? %>
          <%= f.text_field :email, autocomplete: 'email', class: 'form-control', required: 'required', disabled: true %>
        <% else %>
          <%= f.text_field :email, autocomplete: 'email', class: 'form-control', required: 'required' %>
        <% end %>

        <%= f.label :image, 'プロフィール画像', class: 'label' %>
        <div class="img">
          <% if @user.avatar? %>
              <%= image_tag @user.avatar.thumb.url, :size => '100x100', class: "img" %>
          <% else %>
            <%= image_tag "default.jpg", :size => '100x100', class: "img" %>
          <% end %>
        </div>
        <% if current_user.guest? %>
          <%= f.file_field :avatar, class: 'form-control', disabled: true %>
        <% else %>
          <%= f.file_field :avatar, class: 'form-control' %>
        <% end %>
        <%= f.hidden_field :avatar_cache %>
        <% if @user.avatar? %>
          <div class="check-box">
            <% if current_user.guest? %>
              <%= f.check_box :remove_avatar, disabled: true %>
            <% else %>
              <%= f.check_box :remove_avatar %>
            <% end %>
            <%= f.label :remove_avatar, 'プロフィール画像を削除しますか？', class: 'remove' %>
          </div>
        <% end %>

      </div>
      <div class="lock-bottom">
        <% if current_user.guest? %>
          <%= f.submit yield(:button), class: "btn btn-success", disabled: true %>
        <% else %>
          <%= f.submit yield(:button), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>