<% provide :title, 'すべてのユーザー' %>
<%= render "shared/success_messages" %>

<% if @users.any? %>

  <div class="container">
    <h2 class="text-center font-weight-bold mt-4 mb-3">すべてのユーザー</h2>
    <div class="row user-cards">
      <% @users.each do |user| %>
        <div class="col-lg-4 col-md-6 col-sm-6 card-index">
          <div class="user-card card align-items-center pt-3">
            <% if user.avatar? %>
              <%= link_to image_tag(user.avatar.small.url), user %>
            <% else %>
              <%= link_to image_tag("/assets/default.jpg", :size => '50x50'), user %>
            <% end %>
            <%= link_to user.name, user, class: "" %>

            <div class="destroy mb-2 p-3">
              <% if current_user.admin? && !(user.admin?) && !(user.guest?) %>
                <%= link_to 'このユーザーを削除する', user, method: :delete, data: { confirm: 'このユーザーを削除しますか？' }, class:"destroy-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>