<div class="cd-header pt-3 pb-1">
  <% if @post.user.avatar? %>
    <%= link_to image_tag(@post.user.avatar.small.url), @post.user %>
  <% else %>
    <%= link_to image_tag("/assets/default.jpg", :size => '50x50'), @post.user %>
  <% end %>
  <%= link_to @post.user.name, @post.user, class: "name" %>
</div>

<div class="cd-body py-3">
  <%= render @post %>
</div>

<div class="cd-footer py-3 d-flex">
  <% if user_signed_in? %>
    <%= render 'like_form', post: @post %>
  <% end %>
  

<a class="btn p-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  <small class="liked_user m-0">行ってみたい！<%= @post.likes.count %>件</small>
</a>
<div class="collapse" id="collapseExample">
  <div class=" cd-body">
    <% @post.liked_users.each do |user| %>
      <li><%= link_to user.name, user_path, class: "name" %></li>
    <% end %>
  </div>
</div>
    
  <small class="text-right"><%= l @post.created_at, format: :short %>に投稿</small>
</div>