<div class="cd-header pt-3 pb-1">
  <% if @post.user.avatar? %>
    <%= link_to image_tag(@post.user.avatar.small.url), @post.user %>
  <% else %>
    <%= link_to image_tag("/assets/default.jpg", :size => '50x50'), @post.user %>
  <% end %>
  <%= link_to @post.user.name, @post.user, class: "name" %>
</div>

<div class="cd-body py-3">
  <%= render @post %>
</div>

<div class="cd-footer py-3 d-flex">
  <% if user_signed_in? %>
    <%= render 'like_form', post: @post %>
  <% end %>
  <p>コメントを見る</p>
    <% @comments.each do |comment| %>
      <small><% comment.content %></small>
      a
    <% end %>
  <small class="text-right"><%= l @post.created_at, format: :short %>に投稿</small>
</div>